body {
  background: #EEE196;
  font: normal 14px Helvetica, Arial, sans-serif;
}
div {
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
}
ul {
  list-style: none;
  padding: 0;
}
aside {
  overflow: hidden;
  margin: 50px 0 0 15px;
}
main {
  float: right;
  clear: both;
  width: 80%;
}
main li+li {
  border-top: 1px solid #ececec;
}
main ul li {
  margin: 0 20px 0 0;
  padding: 15px 20px;
  display: block;
}
main ul li:hover {
  background: #99F099;
}
