body {
  background: #141414;
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #f0f0f0;
}
main {
  background: #333333;
  margin: 0 auto;
  padding: 20px;
  min-width: 600px;
  max-width: 1000px;
}
h1 {
  text-align: center;
}
figure {
  margin: 0;
  padding-bottom: 30px;
}
figure img {
  border: 15px solid #ffffff;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
figcaption {
  padding-top: 10px;
}
ul {
  padding: 0;
  margin: 0 -15px;
  font-size: 0;
}
li {
  display: inline-block;
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}
li img {
  border: 3px solid #ffffff;
}
li.active img {
  border-color: #0066cc;
}
